body {
    font-optical-sizing: auto;
}

:root[data-mantine-color-scheme='light'],
:host([data-mantine-color-scheme='light']) {
    --mantine-color-red-light: var(--mantine-color-red-0);
    --mantine-color-red-light-hover: var(--mantine-color-red-1);
}

input::-webkit-calendar-picker-indicator {
    opacity: 0;
}

.mantine-active {
    transition: all 100ms ease-in-out;
    &:active {
        transform: scale(0.9);
    }
}

.material-symbols-rounded {
    font-family: 'Material Symbols Rounded';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    user-select: none;
    overflow: clip;
}
