.loader-sleeping {
  font-weight: 700;
  display: flex; /* Aligns the face and text nicely */
}

.face {
  animation: bob 2s infinite ease-in-out;
}

@keyframes bob {
  0%,
  100% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
}
