input::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.mantine-active:active {
  transform: none !important;
}

:root[data-mantine-color-scheme='light'] {
  --mantine-color-dimmed: var(--mantine-color-gray-7);
}